* {margin: 0px 0px 0px 0px;
 }


 body { 
        background-color: black;
        font-family: 'Roboto', sans-serif;
            
 }

.container { width: 840px;
height: 1750px;
background: black;
 margin: 20px auto;

}

.box {
background-color: #101010;
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 50px;
border-radius: 10px;
box-shadow: 3px 3px #101010 , -3px -3px #101010;

}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}

iframe { padding-bottom: 80px; 
}

button {
    background-color:  white;
    text-decoration: none;
    border-radius: 50%;
     color: black;
       margin:  25px;
         font-size: 40px;
         border-color: gray;
        

}

.shared { 
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#video{margin: 20px;
    padding-right: 50px;
    padding-top: 210px;
    padding-bottom: 100px;
   text-align: center;
}

div#video { background-image: url(../img/bg.png);
    background-repeat: no-repeat;
  background-position: center;
    background-size: cover ; 
    width: 800px;
    height: 700px;

}
 hr{margin-bottom: 100px;
    margin-top: 50px;}

.botoes {display: flex;
    justify-content: center;
    align-items: center;
   
    text-align: center;

}

.botao{ cursor: pointer;
    margin: 0 30px;
}

input#linkMusic {
    width: 500px;
    height: 35px;
    border-color: #2c2c2c;
    border: none;
    margin-top: 50px;
    border-radius: 15px;
    font-size: 25px;
    display: block;
    margin: 0 auto;

}



input::placeholder {
    text-align: center;
    color:  gray;

}

.fa-share-nodes{
    font-size: 70px;
}

/*animações*/

.botao > img:hover{
    background-color:  #2c2c2c90;
    border-radius: 50%;
     transform: scale(1.1);
  opacity:  0.6;
}

.box a >  img:hover {
transform: scale(1.1);
   opacity:  0.6;
 }

  .home a >  img:hover {
transform: scale(1.1);
  opacity:  0.6;
 }


@media screen and (min-width: 360px){

.menu{
        display: none;
}

footer {display: none;}
}


@media screen and (max-width: 600px){
    body{ font-size: 18px; 
        font-weight: 700;
    }
   .container{ margin: 1px 15px;
   padding: 0 5px; }

    .logo_ytm >a > img{
        width: 100px;
    }
header{

    position: fixed;
    width: 95vw;
    padding: 20px;

}


     .home > a> img{
 width: 30px;

}
   hr, .botoes ,.botao ,.redes_sociais{display: none;
   }
   .container{  width: 100vw;
height: 100vh; }
.menu{
        display: flex;  
  align-items: center;
  justify-content: space-between;
  margin:  0px 40px;
 
}
   .menu > li > a {text-decoration:  none;
color:  gray;
font-size: 1.6em;
}
.menu > li > a:hover {color: #fff;

}
.menu > li{
      margin: 10px;
      


}

#video{
    margin: 0;
    padding: 70px 0 0 0;
   
} 

/*---footer coonffigurações--*/

footer {display: flex;
      justify-content:  space-between;
    align-items: center;
    
    background-color: #101010;
    color: #fff;
    width: 100%;
    height: 20px;    
    text-align: center;
   
}

.botao-footer{ display:flex;
    align-items: center;
    margin:  0px 40px;
    cursor:  pointer;
}
.botao-footer > .linha > img{
    margin: 0 10px ;
}

#faixa > p {
    font-size: 24px;
}
.add-music{display: flex; 
align-items: center;
justify-content: center;}


 .add > input {
    width: 300px;
    height: 10px;
    border-color: #2c2c2c;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-align:center;
  
    }


.add-botao-end  > button {
    margin:  0 10px;
    font-size: 25px;
    color: #FFFFFF;
   background-color: #101010;
   cursor: pointer;
        border-radius: 50%;
      border: solid; 
  
cursor:  pointer;
   
     }



}



@media screen and (min-width: 1000px){
    body{ font-size: 18px; 
        font-weight: 700;
    }
   .container{ margin: 1px 5px;
   padding: 0 15px; }

    .logo_ytm >a > img{
        width: 100px;
    }
header{
    position: fixed;
    width: 95vw;
}

     .home > a> img{
 width: 30px;
} 
   hr, .botoes ,.botao ,.redes_sociais{display: none;
   }
   .container{  width: 100vw;
height: 100vh; }
.menu{
        display: flex;  
  align-items: center;
  justify-content: space-between;
  margin:  0px 40px;
 
}
   .menu > li > a {text-decoration:  none;
color:  gray;
font-size: 1.6em;
}
.menu > li > a:hover {color: #fff;

}
.menu > li{
      margin: 10px;
      


}

#video{
    margin: 0;
    padding: 70px 0 0 0;
   
}
/*footer coonffigurações*/
footer {display: flex;
      justify-content:  space-between;
    align-items: center;
    
    background-color: #101010;
    color: #fff;
    width: 100%;
    height: 20px;    
    text-align: center;
   
}

.botao-footer{ display:flex;
    align-items: center;
    margin:  0px 40px;
    cursor:  pointer;
}
.botao-footer > .linha > img{
    margin: 0 10px ;
}

#faixa > p {
    font-size: 24px;
}
.add-music{display: flex; 
align-items: center;
justify-content: center;}


 .add > input {
    width: 300px;
    height: 10px;
    border-color: #2c2c2c;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-align:center;
  
    }


.add-botao-end  > button {
    margin:  0 10px;
    font-size: 25px;
    color: #FFFFFF;
   background-color: #101010;
   cursor: pointer;
        border-radius: 50%;
      border: solid; 
  
cursor:  pointer;
   
     }



}